<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DocumentDbUri" value="[YOUR DB URI]"/>
    <add key="DocumentDbKey" value="[YOUR DB ACCESS KEY]"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>